html {
	background-color: black;
	color: white;
}

header {
	text-align: center;
	margin-top: 7em;
	pointer-events: none;
}

img {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}

.links {
	text-align: center;
}

h1 {
	margin-bottom: .5rem;
}

h2 {
	margin: 0;
	font-weight: lighter;
}

a {
	text-decoration: none;
}

.about_me {
	margin: 1em auto;
	display: none;
	width: 50%;
	text-align: justify;
}

footer {
	text-align: center;
	font-size: 7pt;
	font-weight: 100;
}

section{
	text-align: center;
}