html {
	background-color: black;
	color: white;
}

header {
	text-align: center;
	margin-top: 4em;
	pointer-events: none;
}

img h1 {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}

.links {
	text-align: center;
}

h1 {
	margin-bottom: .5rem;
}

h2 {
	margin: 0;
	font-weight: lighter;
}

a {
	text-decoration: none;
}

.about-me {
	margin: 1em auto;
	display: none;
	width: 90%;
	text-align: center;
}

footer {
	text-align: center;
	font-size: 7pt;
	font-weight: 100;
	margin-bottom: 4em;
}

section{
	text-align: center;
}

@media (min-width: 320px) and (max-width: 493px) { /*0 px - 430px smartphones*/
	html {
		background-color: black;
	}
    .about_me p {
    	width: 73%;
    	text-align: center;
    }
    .phone {
    	text-align: center;
    }
} 

@media (min-width: 494px) and (max-width: 619px) { /* Tablets */
	html {
		background-color: gray;
	}
	header {
		text-align: left;
		width: 243px;
		display: inline-block;
		border: 1px solid black;
	}
	.links {
		width: 172px;
		float: right;
		margin: 48px 6% 0 0;
		border: 1px solid black;
	}
	.about-me {
		width: 47%;
    	margin: -285px 0px 0px 48%;
	}
}

@media (min-width: 620px) and (max-width: 768px) {
	html {
		background-color: black;
	}
	header {
		text-align: left;
		width: 243px;
		display: inline-block;
		border: 1px solid black;
	}
	.links {
		width: 320px;
		float: right;
		margin: 62px 7% 0 0;
		border: 1px solid black;
	}
	.about-me {
		width: 47%;
    	margin: -285px 0px 0px 48%;
	}

	a {
		display: inline-block;
	}
}

@media (min-width: 1024px) and (max-width: 1440px) { /* laptops */
	html {
		background-color: lightblue;
	}
} 